/*-- scss:defaults --*/

// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Yuyu+Short&display=swap');

// Colors
$peppermint: #DAE7D4;
$forest-green: #228B22;
$green: #008000;
$ash-gray: #B2BEB5;

// Sass vars
$navbar-bg: $ash-gray; 
$navbar-fg: $peppermint; 
$navbar-hl: $green;
$body-bg: $peppermint;
$body-color: $green; 
$link-color: $green; 
